/* Formulario => Ingresar compra */


div#frame div.content div.head{
  background: rgba(0,0,0,0.1);
  color: rgba(255,0,255,.5);
  font-size: 1.1em;
  font-weight: bold;
  line-height: 24px;
}

div#content_search_proveedor{
  padding: 15px 0px 5px 0;
  width: 350px;
}

div#content_search_proveedor div.fieldSearch div.label{padding: 0;}

div#content_search_proveedor,div#detalle_proveedor{
  display: inline-block;
  vertical-align: top;
}

div#content_search_proveedor div.searcher div#content_button_add_proveedor {
  position: absolute;
  margin: 16px 0 0 5px;
}

div#content_button_add_proveedor div.button{
  font-size: 1.2em;
  font-weight: bold;
  height: 22px;
  line-height: 16px;
  width: 36px;
}

/* List proveedores */
div#selectedProveedor{
  line-height: 24px;
}
div#listProveedores{
  margin: 2px 0px;
  width: 340px;
}

div#listProveedores div.row:hover{
 background: rgba(235,235,235,1);
}

div#listProveedores div.row div.documento{
   margin: 0 15px 0 0;
  text-align: right;
}
div#listProveedores div.row div.nombre{text-align: left;}


/* detalle proveedor */
div#detalle_proveedor{margin: 9px 0 0 0;}

div#detalle_proveedor div.info{
  display: inline-block;
  vertical-align: top;
  width: 120px;
}

div#detalle_proveedor div.info div.label{
  border-bottom: solid 1px;
  line-height: 24px;
}

div#detalle_proveedor div.info div.value{
  line-height: 24px;
}
div#detalle_proveedor div#info_ciudad{
  width: 200px;
}


div#detalle_proveedor div#info_direccion{
  display: block;
  margin: 5px auto;
  text-align: center;
  max-width: 450px;
  width: auto;
}

/* historico */
div#historico{}

div#historico div.info{
  display: inline-block;
  vertical-align: top;
  width: 120px;
}

div#historico div.info div.label{
  border-bottom: solid 1px;
  line-height: 24px;
}
div#historico div.info div.value{
  line-height: 24px;
}


/**/

div#historico div.list {
    background: rgba(255,255,255,1);
    border-left: solid;
    border-right: solid;
    font-size: 13px;
    margin: -20px 0 0 -3px;
    max-width: 120px !important;
    min-width: 120px;
    padding: 5px 0 0 0;
    position: absolute;
    width: -webkit-fill-available;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

div#historico div.list div.row {
    border-bottom: solid 1px rgba(240,240,240,1);
    cursor: pointer;
    transition: 0.1s all ease;
}



/* frm add proveedor */
div#frm_add_proveedor{
  background: rgba(255,255,255,1);
  border: solid 2px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 2px rgba(0,0,0,0.08);
  box-sizing: border-box;
  padding: 0 5px;
  position: absolute;
  z-index: 1;
}
div#frm_add_proveedor div.field{
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
div#frm_add_proveedor div.field input{
    text-align: center;
}
div#frm_add_proveedor div#field_add_nombre{
    width: 240px;
}


div#content_button_close div#button_close_frm_proveedor{
  font-size: 1.2em;
  font-weight: bold;
  height: 22px;
  line-height: 16px;
  margin: 0 0 0 10px;
  width: 36px;
}
div#content_button_close div#button_close_frm_proveedor div.label{
  line-height: 20px;
  padding: 0;
}





/**/
