div#content_filtro{}

div#content_filtro div.head,
div#content_detalle_filtro div#selectedFiltro{
  background: rgba(135, 142, 127, 0.25);
  font-size: 1.3em;
  line-height: 24px;
}


div#content_detalle_filtro{}

div#content_detalle_filtro div#selectedFiltro{}
